body {
  justify-content: center;
  background: #ffffff;
  margin-top: 10rem;
  }

legend{
  position: relative;
  font-size: 2vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

legend::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #273792;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #273792;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate{
  0%, 10%, 100%
  {
    width: 0;
  }
  70%, 90%
  {
    width: 100%;
  }
}



  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background-color:#F0FFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #273792;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .fit-picture {
    width: 100px;
    height: 50px;
    margin-right: 20px;
}


a {
  font-size:13px;
}

.au_container{
  max-width: 600;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  background-color:dimgrey ;
  color: #cccccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
.au_container::after{
  content: '';
  display: block;
  clear: both;
}

.au_container h2 h4{
  margin-bottom: 10px;
  color:#333333;
}
.au_container p{
  font-size: 20px;
  line-height: 2;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.au_container img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: content-box;
  margin: 0 20px 5px 0;
}

.au_container a{
  size: 4;
  color:#273792;
  font-size: 15px;
  font-weight: bold;
}


.post_search:hover{
  font-size: 50px;
}

.container {
  display: flex;
  margin-bottom: 20px;
}

.links{
  margin-bottom: 20px;
}

.git{
  margin-bottom: 20px;
}

.col-lg-10{
  margin-left: 30%;
}

.button-container {
  position: fixed;
  left: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;

}

.button{
  display: flex;
  width: 200px;
  height: 50;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #273792;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  border:#333333;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.button_git{
  display: flex;
  width: 200px;
  height: 50;
  align-items: center;
  justify-content: center;
  background-image: url('profile_pics/logo_git.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:#333333;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.button_slack{
  display: flex;
  width: 200px;
  height: 50;
  align-items: center;
  justify-content: center;
  background-image: url('profile_pics/logo_slack.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:#333333;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.button:hover {
  transform: scale(1.2);
}
.button_git:hover {
  transform: scale(1.2);
}
.button_slack:hover {
  transform: scale(1.2);
}

.vh-100{
  width: 700px;
}
.vh-100:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

.form-group{
  font-size: 15px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-group-item{
  background-color: rgba(252, 252, 252, 0.3); /* 70% transparent */
}

.vh-100{
  background-color: #273792;
}

.profile_container{
  background-color: #273792;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
}

.profile_container h1{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-weight: bold;
}

.profile_list{
  text-align: center;
  padding-bottom: 20px;
}

.profile_list li{
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 30px;
}

.myImage {
  width: 200px;
  height: 200px;
  padding-top: 80px;

}

.profile_list li:hover{
  font-size: 12px;
  font-weight: bold;
  color: chartreuse;
}

.profile_list ul {
  list-style-type: none;
}

.media-body img{
  width: 100%;
  height: auto; 
}

.pdf_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Ajuster la hauteur selon les besoins */
}