{% extends "layout.html" %}
{% block content %}
    <article class = 'au_container'>
        <img src="../static/profile_pics/hopital.jpg" alt="Bioinformaticien team">
        <h2>Présentation golbale de notre cellule</h2>
        <p>
            Toutes les deux semaines, le mercredis matin de 10h30 à 12h30, 
            les membres de la Cellule BioInfo de Saint Louis sont mobilisés 
            pour apporter un soutien direct à tous les membres de l’hôpital 
            Saint Louis qui recherchent de l'aide sur des sujets liés à la bio-informatique. 
            Vous pouvez venir directement en salle de réunion du Service de Génétique Neurovasculaire
            (l’accès se fait par le Carré historique, porte 13 – 1er étage) ou nous contacter via notre Slack.
        </p>
        <h4>Les membres de la Cellule BioInformatique peuvent vous aider dans les domaines suivants (liste non exhaustive)</h4>
        <p>
            <li><a href="{{ url_for('main.omics') }}" style="color:darkslategrey; font-size: 15px; font-weight: bold;">Aide à l’analyse de données OMICS</a></li> 
            <li><a href="{{ url_for('main.log') }}" style="color:darkslategrey; font-size: 15px; font-weight: bold;">Développement de logiciels</a></li> 
            <li><a href="{{ url_for('main.web') }}" style="color:darkslategrey; font-size: 15px; font-weight: bold;">Développement d'outils Web</a></li>
            <li><a href="{{ url_for('main.database') }}" style="color:darkslategrey; font-size: 15px; font-weight: bold;">Développement de bases de données</a></li>
            <li><a href="{{ url_for('main.code') }}" style="color:darkslategrey; font-size: 15px; font-weight: bold;">Révision de code (Bash, Python, R)</a></li> 

        </p>
        <p>Venez avec votre ordinateur perso et/ou de travail et vos données, ainsi que votre code si nécessaire.</p>
        
    </article>

{% endblock content %}