{% extends 'layout.html' %}
{% block content %}
    <legend data-text="Contact...">Contact...</legend>
    <br>
    <section class="vh-100">
        <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/unknown.jpg"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>Samuel QUENTIN</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">INGENIEUR ETUDE HOSP</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">Hematology</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, R, Bash</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Variants, Transcriptomic, Exome, Mutations, Genomique</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/DO.png"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>Dina OUAHBI</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">BIO INFORMATICIENNE</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">Ana-path | Recherche</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">dina.ouabhi@aphp.fr</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">+33751849713</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, R, Bash</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Machine learning, Transcriptomic, Exome, Mutations, Genomique</p>
                        </div>
                    </div>
                    <h6>Adress</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Office</h6>
                        <p class="text-muted">Bat. Jean Bernard, Etage 1</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Society</h6>
                        <p class="text-muted">Saint-Louis</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/JR.png"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>Julien ROBERT</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">BIO INFORMATICIEN</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">Ana-path | Diagnostique</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">julien.robert@aphp.fr</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">+33687978784</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, R, Bash</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Developement de pipline, developement de logiciel</p>
                        </div>
                    </div>
                    <h6>Adress</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Office</h6>
                        <p class="text-muted">Bat. Jean Bernard, Etage 1</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Society</h6>
                        <p class="text-muted">Saint-Louis</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/AS.png"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>Abdeljalil SENHAJI RACHIK</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">BIO INFORMATICIEN</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">Virology</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">abdeljalil.senhajirachik@aphp.fr</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">+33624280391</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, Bash, C++</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Metagenomics, Microbiology, Big Data</p>
                        </div>
                    </div>
                    <h6>Adress</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Office</h6>
                        <p class="text-muted">Bat. Jean Bernard, Etage 1</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Society</h6>
                        <p class="text-muted">Saint-Louis</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/MS.png"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>SALMONA Maud</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">PERSONNEL MEDICAL</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">MCU-PH Virology</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">maud.salmona@aphp.fr</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">+33142499480</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, Bash</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Metagenomics, Microbiology, Big Data</p>
                        </div>
                    </div>
                    <h6>Adress</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Office</h6>
                        <p class="text-muted">Bat. Jean Bernard, Etage 1</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Society</h6>
                        <p class="text-muted">Saint-Louis</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 mb-8 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="../static/profile_pics/TF.png"
                    alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                    <h5>GHELFENSTEIN-FERREIRA Theo</h5>
                    <div class="col-10 mb-3">
                        <h6>Post</h6>
                        <p class="text-muted">PERSONNEL MEDICAL</p>
                    </div>
                    <div class="col-10 mb-3">
                        <h6>Service</h6>
                        <p class="text-muted">AHU - Parasitology - Mycology</p>
                    </div>
                    <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">theo.ferreira@aphp.fr</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">+33142499480</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Language</h6>
                            <p class="text-muted">Python, Bash</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Works</h6>
                            <p class="text-muted">Metagenomics, Microbiology, Big Data</p>
                        </div>
                    </div>
                    <h6>Adress</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                        <h6>Office</h6>
                        <p class="text-muted">Bat. Jean Bernard, Etage 1</p>
                        </div>
                        <div class="col-6 mb-3">
                        <h6>Society</h6>
                        <p class="text-muted">Saint-Louis</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-linkedin-in fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-github fa-lg me-3"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}