{% extends 'layout.html' %}
{% block content %}
    <main>
        <legend data-text="{{title}}" class="border-bottom mb-4">{{title}}</legend>
        <div class="diapo">
            <div class="elements" id="user">
                {% for user in users %}
                    <div class="element">
                        <img src="../static/profile_pics/{{ user.image_file }}" alt="{{user.username}}">
                        <div class="caption">
                            <h2 class="article-title">{{ user.username }}</h2>
                            <li>E-mail : {{user.email}}</li>
                            <li>Status : {{user.status}}</li>
                            <li>Nombre de demandes de projets : {{user.requests|length}}</li>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--FLECHES-->
            <!--<i id="nav-gauche" class="fas fa-chevron-left"></i>-->
            <i id="nav-droite"> > </i>
        </div>
    </main>
    <legend data-text="Présentation golbale de notre cellule">Présentation golbale de notre cellule</legend>
    <article class = 'au_container'>
        <img src="../static/profile_pics/hopital.jpg" alt="Bioinformaticien team">
        <p>
            Toutes les deux semaines, le mercredi matin de 10h30 à 12h30, 
            les membres de la Cellule BioInfo de Saint Louis sont mobilisés 
            pour apporter un soutien direct à tous les membres de l’hôpital 
            Saint Louis qui recherchent de l'aide sur des sujets liés à la bio-informatique. 
            Vous pouvez venir directement en salle de réunion du Service de Génétique Neurovasculaire
            (l’accès se fait par le Carré historique, porte 13 – 1er étage) ou nous contacter via notre Slack.
        </p>
        <h4>Les membres de la Cellule BioInfo peuvent vous aider dans les domaines suivants (liste non exhaustive)</h4>
        <p>
            <li><a href="#" onmouseover="showCode()">Révision de code (Bash, Python, R)</a></li>
            <li><a href="#" onmouseover="showDb()">Développement de bases de données</a></li>
            <li><a href="#" onmouseover="showLog()">Développement de logiciels</a></li>
            <li><a href="#" onmouseover="showOmics()">Aide à l’analyse de données OMICS</a></li>  
            <li><a href="#" onmouseover="showWeb()">Développement d'outils Web</a></li>
        </p>
        <p>Venez avec votre ordinateur perso et/ou de travail et vos données, ainsi que votre code si nécessaire.</p> 
    </article>
    <div id="code" class="modal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale -->
            <span class="close" onclick="hideCode()">&times;</span>
            <h3>Révision de code (Bash, Python, R)</h3>
            <p>{{code}}</p>
        </div>
    </div>
    <div id="db" class="modal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale -->
            <span class="close" onclick="hideDb()">&times;</span>
            <h3>Developpement de bases de donnees</h3>
            <p>{{db}}</p>
        </div>
    </div>
    <div id="log" class="modal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale -->
            <span class="close" onclick="hideLog()">&times;</span>
            <h3>Developpement de logiciels</h3>
            <p>{{log}}</p>
        </div>
    </div>
    <div id="omics" class="modal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale -->
            <span class="close" onclick="hideOmics()">&times;</span>
            <h3>Analyse de donnees OMICS</h3>
            <p>{{omics}}</p>
        </div>
    </div>
    <div id="web" class="modal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale -->
            <span class="close" onclick="hideWeb()">&times;</span>
            <h3>Developpement d'outils web</h3>
            <p>{{web}}</p>
        </div>
    </div>

    <legend data-text="Nos Bioinformaticiens">Nos Bioinformaticiens</legend>
    <!--ROW ONE-->
    <div class="annuaire">
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Abdeljalil Senhaji Rachik</span></b></h5>
                <img src="../static/profile_pics/{{ abdeljalil_picture }}" alt="Abdeljalil Senhaji Rachik">
            </div>
            <h6>Bio-informaticien - Virologie</h6>
            <h6>Langages:Python, Bash, C++</h6>
            <p>Métagénomique, génomique, microbienne, big data</p>
            <p><i>Contact: abdeljalil.senhajirachik@aphp.fr</i></p>
        </div>
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Julien Robert</span></b></h5>
                <img src="../static/profile_pics/{{ julien_picture }}" alt="Julien Robert">
            </div>
            <h6>Bio-informaticien transversal - Clinique</h6>
            <h6>Langages:Python, Bash</h6>
            <p>Développement de pipeline, Développement de logiciel, interface graphique</p>
            <p><i>Contact: julien.robert@aphp.fr</i></p>
        </div>
    </div>
    <!--ROW TWO-->
    <div class="annuaire">
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Dina Ouahbi</span></b></h5>
                <img src="../static/profile_pics/{{ dina_picture }}" alt="Dina Ouahbi">
            </div>
            <h6>Bio-informaticienne transversale - Recherche</h6>
            <h6>Langages:Python, R, Bash, Java</h6>
            <p>Analyses transcriptomiques, Analyse d'exomes, mutations somatiques, Analyse de survie, développement web, Intelligence artificielle</p>
            <p><i>Contact: dina.ouahbi@aphp.fr</i></p>
        </div>
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Samuel Quentin</span></b></h5>
                <img src="../static/profile_pics/{{ samuel_picture }}" alt="Samuel Quentin">
            </div>
            <h6>Bio-informaticien - Hématologie</h6>
            <h6>Langages:Python, R, Bash</h6>
            <p>Recherche de variants structuraux, Analyses transcriptomiques, analyses d'exomes, mutations somatiques, génomique</p>
            <p><i>Contact: samuel.quentin@aphp.fr</i></p>
        </div>
    </div>
    <!--ROW THREE-->
    <div class="annuaire">
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Selim Turan</span></b></h5>
                <img src="../static/profile_pics/{{ selim_picture }}" alt="Selim Turan">
            </div>
            <h6>Bio-informaticien - Hématologie - INSERM</h6>
            <h6>Langages:Python, R, Bash, JAVA</h6>
            <p>Recherche de données RNA-seq (transcriptomique, single-cell ...), ATAC-seq (Assay for Transposase-Accessible Chromatin using sequencing)</p>
            <p><i>Contact: selim.turan@inserm.fr</i></p>
        </div>
    </div>

    <legend data-text="Nos Animateurs médicaux">Nos Animateurs médicaux</legend>
    <!--ROW ONE-->
    <div class="annuaire">
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">Théo Ghelfenstein-Ferreira</span></b></h5> 
                <img src="../static/profile_pics/{{ theo_picture }}" alt="Théo Ghelfenstein-Ferreira">
            </div>
            <h6>AHU - Parasitologie - Mycologie</h6>
            <p><i>Contact: theo.ferreira@aphp.fr</i></p>
        </div>
        <div class="contact">
            <div class="ann_top">
                <h5><b><span style="text-transform:uppercase">maud salmona</span></b></h5> 
                <img src="../static/profile_pics/{{ maud_picture }}" alt="Julien Robert">
            </div>
            <h6>MCU - PH - Virologie</h6>
            <p><i>Contact: maud.salmona@aphp.fr</i></p>
        </div>
    </div>

    {% endblock content %}

{% block js %}
    <script src="{{ url_for('static', filename='about.js') }}"></script>    
{% endblock %}


{% block info %}
    {{ instructions }}
{% endblock info %}