{% extends "layout.html" %}
{% block content %}
    <legend data-text="Requiring bioinformatics support _ {{legend}}" class="border-bottom mb-6 h2">Funding _ {{legend}}</legend>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group" id="username">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="application">
                    {{ form.application.label(class="form-control-label text-danger") }}
                    {% if form.application.errors %}
                        {{ form.application(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.application.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.application(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="organism">
                    {{ form.organism.label(class="form-control-label") }}
                    {% if form.organism.errors %}
                        {{ form.organism(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.organism.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.organism(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="principal_investigator">
                    {{ form.principal_investigator.label(class="form-control-label") }}
                    {% if form.principal_investigator.errors %}
                        {{ form.principal_investigator(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.principal_investigator.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.principal_investigator(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="promotor">
                    {{ form.promotor.label(class="form-control-label") }}
                    {% if form.promotor.errors %}
                        {{ form.promotor(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.promotor.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.promotor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="regulatory_requirements">
                    {{ form.regulatory_requirements.label(class="form-control-label") }}
                    {% if form.regulatory_requirements.errors %}
                        {{ form.regulatory_requirements(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.regulatory_requirements.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.regulatory_requirements(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="if_regulatory_requirements">
                    {{ form.if_regulatory_requirements.label(class="form-control-label text-danger") }}
                    {% if form.if_regulatory_requirements.errors %}
                        {{ form.if_regulatory_requirements(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.if_regulatory_requirements.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.if_regulatory_requirements(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.project_title.label(class="form-control-label") }}
                    {% if form.project_title.errors %}
                        {{ form.project_title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="urgency_of_request">
                    {{ form.urgency_of_request.label(class="form-control-label") }}
                    {% if form.urgency_of_request.errors %}
                        {{ form.urgency_of_request(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.urgency_of_request.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.urgency_of_request(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="if_urgency">
                    {{ form.if_urgency.label(class="form-control-label text-danger") }}
                    {% if form.if_urgency.errors %}
                        {{ form.if_urgency(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.if_urgency.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.if_urgency(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.project_context.label(class="form-control-label") }}
                    {% if form.project_context.errors %}
                        {{ form.project_context(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_context.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_context(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.project_context_private.label(class="form-control-label") }}
                    {% if form.project_context_private.errors %}
                        {{ form.project_context_private(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_context.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_context_private(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.project_summary.label(class="form-control-label") }}
                    {% if form.project_summary.errors %}
                        {{ form.project_summary(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_summary.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_summary(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bioF_needs.label(class="form-control-label") }}
                    {% if form.bioF_needs.errors %}
                        {{ form.bioF_needs(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bioF_needs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bioF_needs(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.funding_type.label(class="form-control-label") }}
                    {% if form.funding_type.errors %}
                        {{ form.funding_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.funding_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.funding_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.total_amount.label(class="form-control-label") }}
                    {% if form.total_amount.errors %}
                        {{ form.total_amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.total_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.total_amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.deadline.label(class="form-control-label") }}
                    {% if form.deadline.errors %}
                        {{ form.deadline(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.deadline.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.deadline(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="data_available">
                    {{ form.data_available.label(class="form-control-label") }}
                    {% if form.data_available.errors %}
                        {{ form.data_available(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data_available.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data_available(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
                <div class="form-group" id="access_data">
                    {{ form.access_data.label(class="form-control-label text text-danger") }}
                    {% if form.access_data.errors %}
                        {{ form.access_data(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.access_data.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.access_data(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.data_owner.label(class="form-control-label") }}
                    {% if form.data_owner.errors %}
                        {{ form.data_owner(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data_owner.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data_owner(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.data_type.label(class="form-control-label") }}
                    {% if form.data_type.errors %}
                        {{ form.data_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.data_size.label(class="form-control-label") }}
                    {% if form.data_size.errors %}
                        {{ form.data_size(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.data_size.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.data_size(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.add_info.label(class="form-control-label") }}
                    {% if form.add_info.errors %}
                        {{ form.add_info(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.add_info.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.add_info(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Return to the home page? <a class="ml-2" href="{{ url_for('main.home') }}">Home Page</a>
        </small>
    </div>
{% endblock content %}