{% extends "layout.html" %}
{% block content %}
    <legend data-text="Grants...">Grants...</legend>
    {% if grants.items|length == 0 %}
      <h1>No Grants</h1>
      <img class="fit-picture" src="../static/profile_pics/default.png" alt="logo_aphp" style="width: 250px;">
    {% endif %}
    
    {% for grant in grants.items %}
        <article class="media content-section">
          {% if grant.author is none %}
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/unknown.jpg') }}" alt="None user">
          {%else%}
            <a href="{{ url_for('users.user_profile',  username=grant.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+grant.author.image_file) }}" alt=""></a>
          {%endif%}
            <div class="media-body">
            <div class="article-metadata">
              {% if grant.author is none %}
                <a class="mr-2" href="#">Unknown user</a>
              {%else%}
                <a class="mr-2" href="{{ url_for('users.user_profile',  username=grant.author.username) }}">{{ grant.author.username.capitalize() }}</a>
                <a class="mr-5 ml-5" href="{{ url_for('users.user_grants', username=grant.author.username) }}" style="font-weight: bold; color: crimson;">Get all {{ grant.author.username.capitalize() }} grants</a>
              {%endif%}
                <small class="text-muted">{{ grant.date_posted.strftime('%Y-%m-%d') }}</small>
                <a class="ml-5" href="{{ url_for('projects.grant', grant_id=grant.id) }}">Modification</a>
            </div>
            <h2 class="article-title">{{ grant.project_title }}</h2>
            <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Principal  investigator: </b>{{ grant.principal_investigator }}</li>
            <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Total Amount: </b>{{ grant.total_amount }}</li>
            <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Deadline: </b>{{ grant.deadline }}</li>
            <p class="article-content"> <b>Context grant (Public): </b>{{ grant.project_context }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in grants.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if grants.page == page_num %}
              <a class="btn btn-info mb-4" href="{{url_for('main.grant_home', page=page_num)}}">{{ page_num }}</a> 
          {%else%}
              <a class="btn btn-outline-info mb-4" href="{{url_for('main.grant_home', page=page_num)}}">{{ page_num }}</a> 
          {%endif%}  
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}

{% block search %}
  <form method = 'POST' action="{{url_for('main.search')}}" class="d-flex">
    {{form.hidden_tag() }}
    <input class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search", name="searched">
    <button class="btn btn-primary btn-sm" type="submit">
      Search
    </button>
  </form>
{% endblock search %}

{% block info %}
  {{ instructions }}
{% endblock info %}