{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+grant.author.image_file) }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_grants', username=grant.author.username) }}">{{ grant.author.username.capitalize() }}</a>
                <small class="text-muted">{{ grant.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if current_user.is_admin %}
                    <div>
                        <a class = 'btn btn-secondary btn-sm m-1' href="{{ url_for('projects.update_grant', grant_id=grant.id) }}">Mise à jour</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
                    </div>
                {% endif %}

            </div>
            <h2 class="article-title">{{ grant.project_title }}</h2>
            <p style="color: blue; font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Application: </b>{{ grant.application }}</p>
            <p class="article-content"> <b>Contexte de la subvention (Publique): </b>{{ grant.project_context }}</p>
        </div>
    </article>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Supprimer l'aide financière?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <form action="{{ url_for('projects.delete_grants', grant_id=grant.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}