{% extends "layout.html" %}
{% block content %}
    <legend data-text="Publications">Publications</legend>
    {% if posts.items|length == 0 %}

    {% endif %}

    {% for post in posts.items %}
        <article class="media content-section">
          {% if post.author is none %}
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/unknown.jpg') }}" alt="None user">
          {%else%}
            <a href="{{ url_for('users.user_profile',  username=post.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+post.author.image_file) }}" alt=""></a>
          {%endif%}
          <div class="media-body">
            <div class="article-metadata">
              {% if post.author is none %}
                <a class="mr-2" href="#">Utilisateur inconnu</a>
              {%else%}
                <a class="mr-2" href="{{ url_for('users.user_profile',  username=post.author.username) }}">{{ post.author.username.capitalize() }}</a>
                <a class="mr-5 ml-5" href="{{ url_for('users.user_posts', username=post.author.username) }}" style="font-weight: bold; color: crimson;">Obtenir tout les posts de {{ post.author.username.capitalize() }}</a>
              {%endif%}
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              <a class="ml-5" href="{{ url_for('posts.post', post_id=post.id) }}">Modification</a>
            </div>
            <a href="{{ url_for('posts.comment', post_id=post.id) }}" style="text-decoration: none;"><h5 class="article-title" title="Commenter ce post">{{ post.title }}</h5></a>
            <p class="article-content">{{ post.content }}</p>
            {% if post.image_file%}
              <img src="../static/profile_pics/{{ post.image_file }}" alt="#" id="image" onclick="ouvrirImage()">
              <div id="modal" onclick="fermerImage()">
                <img class="img-thumbnail mx-auto d-block article-img" style="width: 50%; height: 50%;" src="../static/profile_pics/{{ post.image_file }}" alt="#">
              </div>
            {%endif%}
            <!--COMMENT LIST-->
              {% for comment in comments %}
                {% if comment.post_title == post.title: %}
                <div>
                  <div style="background-color: rgb(23, 99, 99); border-radius: 20px; display: flex;">
                    <img src="{{ url_for('static', filename='profile_pics/'+User.query.filter_by(username=comment.user_comment).first().image_file) }}" style="border-radius: 50px; width: 50px; height: 50px; object-fit: cover; margin-left: 10;">
                    <h2 style="font-size: 18px; margin-top: 0; color: white; font-weight: bold; text-transform: capitalize; margin-left: 30px; margin-top: 15px;"> {{ comment.user_comment }}</h2>
                  </div>
                  <p style="color: rgb(0, 0, 0); font-style: italic; text-transform: capitalize; margin-left: 10px; background-color: #fff; width: fit-content;">{{ comment.content }}</p>
                </div>
                {%endif%}
              {% endfor %}
            <!-- END COMMENT LIST-->
          </div>
        </article>

    {% endfor %}

    <div class="content">
      <a href="{{ url_for('posts.new_post') }}">Nouveau poste</a></b>
    </div>
    
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{ page_num }}</a> 
          {%else%}
              <a class="btn btn-outline-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{ page_num }}</a> 
          {%endif%}  
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}

{% block search %}
  <form method = 'POST' action="{{url_for('main.search')}}" class="d-flex">
    {{form.hidden_tag() }}
    <input class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search", name="searched">
    <button class="btn btn-primary btn-sm" type="submit">
      Recherche
    </button>
  </form>
{% endblock search %}

{% block time %}{{time}}{% endblock %}



{% block info %}
  {{ instructions }}
{% endblock info %}