<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--label color boostrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- calendar-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

    <!-- FOOTER-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">

    {% if title %}
        <title> MediResearchDepot - APHP - {{ title }}</title>
    {% else %}
        <title>MediResearchDepot - APHP</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">

          <b><a class="navbar-brand mr-4" href="/">MediResearchDepot - APHP Intranet</a></b>
          <img class="fit-picture" src="../static/profile_pics/default.png" alt="logo_aphp" style="width: 250px;">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <b><a class="nav-item nav-link" href="{{ url_for('main.home') }}">Posts</a></b> 
              <b><a class="nav-item nav-link" href="{{ url_for('main.project_home') }}">Projects</a></b>
              <b><a class="nav-item nav-link" href="{{ url_for('main.grant_home') }}">Grants</a></b> 
              <b><a class="nav-item nav-link" href="{{ url_for('main.about') }}">Contact</a></b> 
              <b><a class="nav-item nav-link" href="{{ url_for('main.about_us') }}">About-Us</a></b> 
              <b><a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a></b>
              <b><a class="nav-item nav-link" href="https://authentification.aphp.fr/logon/LogonPoint/tmindex.html" target="_blank">AP-HP mailbox</a></b>
              <!--
              <b><a class="nav-item nav-link" href="{{ url_for('projects.new_project') }}">Submit Your Project</a></b>
              <b><a class="nav-item nav-link" href="{{ url_for('projects.new_grant') }}">Grant Writing Assistance</a></b>
              
              <i><a class="nav-item nav-link" href="{{ url_for('main.generate_posts') }}" style="color: chartreuse;">GENERATE POSTS</a></i>
              <i><a class="nav-item nav-link" href="{{ url_for('main.delete_posts') }}" style="color: chartreuse;">DELETE POSTS</a></i>
              <i><a class="nav-item nav-link" href="{{ url_for('main.generate_users') }}" style="color: chocolate;">GENERATE USERS</a></i>
              <i><a class="nav-item nav-link" href="{{ url_for('main.delete_projects') }}" style="color:chocolate;">DELETE PROJECT</a></i>
              -->
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <b><a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></b>
              {% else %}
                <b><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a></b>
              {% endif %}
              <b><a class="nav-item nav-link" href="{{ url_for('users.project_request') }}">Project Request</a></b>
            </div>
          </div>
        </div>
        {% block search %}{% endblock %}
      </nav>
    </header>
    <main role="main" class="container">
      <div class="button-container">
        <button class="button_git" onclick="window.open('https://github.com/bioinformatic-hub-sls',  '_blank');"></button>
        <button class="button" onclick="window.location.href='{{ url_for('projects.new_project') }}';">Submit Your Project</button>
        <button class="button_slack" onclick="window.open('https://join.slack.com/t/cellulebioinfosls/shared_invite/zt-1jw5embhe-NVRA67PADVbTekEwQHqTyQ', '_blank');"></button>
        <button class="button" onclick="window.location.href='{{ url_for('projects.new_grant') }}';">Grant Writing Assistance</button>
      </div>
      <!--<div class="row">-->
        <!-- CALENDAR START-->
<!--
        <div class="container_cal">
          <div class="calendar">
            <div class="month">
              <i class="fas fa-angle-left prev"></i>
              <div class="date">
                <h1></h1>
                <p></p>
              </div>
              <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="days"></div>
          </div>
          <div class="links">
            <div class="git">
              <a href="https://github.com/bioinformatic-hub-sls"><i class="fab fa-github fa-lg me-3" style="color:black; font-weight: bold; font-size: 2em;">Visite our git hub link</i></a>
            </div>
            <div class="slack">
              <a href="https://join.slack.com/t/cellulebioinfosls/shared_invite/zt-1jw5embhe-NVRA67PADVbTekEwQHqTyQ"><i class="fab fa-slack fa-lg me-3" style="color:blueviolet; font-weight: bold; font-size: 2em;">Visite our SLACK account</i></a></b>
            </div>
          </div>
            
          
        </div>
-->
        <!-- CALENDAR END-->

        <!-- CONTENT START-->
        <div class="col-lg-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <!-- CONTENT END-->
      <!--</div>-->
    </main>

    <footer class="footer">
      <div class="footer-content">
        <!--SLS SUMMARY-->
        <h3>Hôpital Saint-Louis</h3>
        <p>Hospital in Paris, France.It was built in 1611 by architect Claude Vellefaux at
          the request of Henry IV of France. It is part of the Assistance publique - Hôpitaux de Paris hospital system, 
          and it is located at 1 avenue Claude-Vellefaux, in the 10th arrondissement 
          near the metro station Goncourt.</p>
          <!--SOCIAL MEDIAS-->
          <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
        <!--SIGNATURE-->
        <p>
          copyright &copy;{% block time %}{% endblock %} APHP. designed by <span>
            <a href="https://github.com/dinaOuahbi" target="_blank" style="color: hotpink;">
              OUAHBI Dina
            </a> 
          </span>
        </p>
      </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='dynamic_field.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <!--load html into pdf file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>