<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- calendar-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

    <!-- FOOTER-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">

    {% if title %}
        <title> INTRANET AP-HP Research - {{ title }}</title>
    {% else %}
        <title>INTRANET AP-HP Research</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">

          <b><a class="navbar-brand mr-4" href="/">INTRANET</a></b>
          <img class="fit-picture" src="../static/profile_pics/default.png" alt="logo_aphp" style="width: 250px;">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">Contact</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about_us') }}">About-Us</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                
                <b><a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('projects.project') }}">Bioinformatics Analysis Help</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('projects.grant') }}">Grant Writing Assistance</a></b>
              {% else %}
                <b><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></b>
                <b><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a></b>
              {% endif %}
            </div>
          </div>
        </div>
        {% block search %}{% endblock %}
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="container_cal">
          <div class="calendar">
            <div class="month">
              <i class="fas fa-angle-left prev"></i>
              <div class="date">
                <h1></h1>
                <p></p>
              </div>
              <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="days"></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-content">
        <h3>APHP - SLS</h3>
        <p> <b>Hôpital Saint-Louis</b> is a hospital in Paris, France.
          It was built in 1611 by architect Claude Vellefaux at
          the request of Henry IV of France. 
          It is part of the Assistance publique - Hôpitaux de Paris hospital system, 
          and it is located at 1 avenue Claude-Vellefaux, in the 10th arrondissement 
          near the metro station Goncourt.</p>
          <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy;2023 APHP. designed by <span>APHP - sls</span> </p>
      </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>