{% extends "layout.html" %}
{% block content %}

    <div class="card" style="width: 40rem; display: block; margin-left: auto; margin-right: auto;">
        <img class="card-img-top" style="border-radius: 50px; width: 50%; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='profile_pics/'+user.image_file) }}" alt="Card image cap">
        <div class="card-body" style="background-color: rgb(83, 169, 140); margin: 10px; border-radius: 5px;">
            <h5 class="card-title" style="text-align: center;">{{user.username}}</h5>
            <li>Email : {{user.email}}</li>
            <li>Position at the aphp : {{user.status}}</li>
            <li>Number of Valid Projects : {{no_accepted}}</li>
            <li>Number of Invalid Projects : {{no_refused}}</li>
            {% if user.is_admin %}
                <a href="{{ url_for('main.project_home') }}" class="btn btn-primary" style="margin-top: 10px; display: block;">Check All Accepted Team Project</a>
            {% else %}
                <a href="{{ url_for('users.user_projects', username=user.username)}}" class="btn btn-primary" style="margin-top: 10px; display: block;">Check my submit projects</a>
            {% endif %}
        </div>
    </div>




{% endblock content %}