{% extends "layout.html" %}
{% block content %}
    <legend data-text="Projets et subventions">Projets et subventions</legend>
    {% if projects.items|length == 0 and grants.items|length == 0%}
      <h1>Rien à afficher</h1>
      <img class="fit-picture" src="../static/profile_pics/default.png" alt="logo_aphp" style="width: 250px;">
    {% endif %}

    <!--PROJECT PARCOUR-->
    {% for project in projects.items %}
        <article class="media content-section">
          {% if project.author is none %}
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/unknown.jpg') }}" alt="None user">
          {%else%}
            <a href="{{ url_for('users.user_profile',  username=project.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+project.author.image_file) }}" alt=""></a>
          {%endif%}
            <div class="media-body">
              <div class="article-metadata">
                  {% if project.author is none %}
                    <a class="mr-2" href="#">Utilisateur inconnu</a>
                  {%else%}
                    <a class="mr-2" href="{{ url_for('users.user_profile',  username=project.author.username) }}">{{ project.author.username.capitalize() }}</a>
                    <a class="mr-5 ml-5" href="{{ url_for('users.user_projects', username=project.author.username) }}" style="font-weight: bold; color: crimson;">Obtenir tout les projets de {{ project.author.username.capitalize() }}</a>
                  {%endif%}
                    <small class="text-muted">{{ project.date_posted.strftime('%Y-%m-%d') }}</small>
                    <a class="ml-5" href="{{ url_for('projects.project', project_id=project.id) }}">Modification</a>
                    <!--PROJECT PROGRESS-->
                    
              </div>
              <h2 class="article-title">{{ project.project_title }}</h2>
              <p style="color: blue; font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Application: </b>{{ project.application }}</p>
              <p><b>Promoteur :</b> {{ project.promotor }}</p>
              <p><b>Investigateur principal: </b>{{ project.principal_investigator }}</p>
              <p><b>Type de donnée: </b>{{project.data_type}}</p>
              <p><b>Taille des données: </b>{{project.data_size}}</p>
              <p class="article-content"> <b>Contexte du projet (Public): </b>{{ project.project_context }}</p>
              <p class="progress">Niveau de progression (définis par le bioinformaticien) : {{ project.progress }}</p>
          </div>
        </article>
    {% endfor %}

    <!--GRANT PARCOUR-->
    {% for grant in grants.items %}
      <article class="media content-section-grant">
      {% if grant.author is none %}
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/unknown.jpg') }}" alt="None user">
      {%else%}
        <a href="{{ url_for('users.user_profile',  username=grant.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+grant.author.image_file) }}" alt=""></a>
      {%endif%}
        <div class="media-body">
        <div class="article-metadata">
          {% if grant.author is none %}
            <a class="mr-2" href="#">Utilisateur inconnu</a>
          {%else%}
            <a class="mr-2" href="{{ url_for('users.user_profile',  username=grant.author.username) }}">{{ grant.author.username.capitalize() }}</a>
            <a class="mr-5 ml-5" href="{{ url_for('users.user_grants', username=grant.author.username) }}" style="font-weight: bold; color: crimson;">Obtenir tout les demandes de subvention de {{ grant.author.username.capitalize() }}</a>
          {%endif%}
            <small class="text-muted">{{ grant.date_posted.strftime('%Y-%m-%d') }}</small>
            <a class="ml-5" href="{{ url_for('projects.grant', grant_id=grant.id) }}">Modification</a>
            <i class="ml-5" href="#">Subvention</i>
        </div>
        <h2 class="article-title">{{ grant.project_title }}</h2>
        <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Investigateur principal: </b>{{ grant.principal_investigator }}</li>
        <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Montant total: </b>{{ grant.total_amount }}</li>
        <li style="color: rgb(28, 3, 71); font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Date limite: </b>{{ grant.deadline }}</li>
        <p class="article-content"> <b>Contexte de la subvention (Publique): </b>{{ grant.project_context }}</p>
      </div>
      </article>
    {% endfor %}

    {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if projects.page == page_num or grants.page == page_num %}
              <a class="btn btn-info mb-4" href="{{url_for('main.project_home', page=page_num)}}">{{ page_num }}</a> 
          {%else%}
              <a class="btn btn-outline-info mb-4" href="{{url_for('main.project_home', page=page_num)}}">{{ page_num }}</a> 
          {%endif%}  
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}

{% block search %}
  <form method = 'POST' action="{{url_for('main.search')}}" class="d-flex">
    {{form.hidden_tag() }}
    <input class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search", name="searched">
    <button class="btn btn-primary btn-sm" type="submit">
      Recherche
    </button>
  </form>
{% endblock search %}

{% block info %}
  {{ instructions }}
{% endblock info %}