{% extends "layout.html" %}
{% block content %}
    <legend data-text="Projects...">Projects...</legend>
    {% if projects.items|length == 0 %}
      <h1>No Projects</h1>
      <img class="fit-picture" src="../static/profile_pics/default.png" alt="logo_aphp" style="width: 250px;">
    {% endif %}
    
    {% for project in projects.items %}
        <article class="media content-section">
          {% if project.author is none %}
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/unknown.jpg') }}" alt="None user">
          {%else%}
            <a href="{{ url_for('users.user_profile',  username=project.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+project.author.image_file) }}" alt=""></a>
          {%endif%}
            <div class="media-body">
            <div class="article-metadata">
              {% if project.author is none %}
                <a class="mr-2" href="#">Unknown user</a>
              {%else%}
                <a class="mr-2" href="{{ url_for('users.user_profile',  username=project.author.username) }}">{{ project.author.username.capitalize() }}</a>
                <a class="mr-5 ml-5" href="{{ url_for('users.user_projects', username=project.author.username) }}" style="font-weight: bold; color: crimson;">Get all {{ project.author.username.capitalize() }} projects</a>
              {%endif%}
                <small class="text-muted">{{ project.date_posted.strftime('%Y-%m-%d') }}</small>
                <a class="ml-5" href="{{ url_for('projects.project', project_id=project.id) }}">Modification</a>
            </div>
            <h2 class="article-title">{{ project.project_title }}</h2>
            <p style="color: blue; font-weight: bold; font-family: 'Courier New', Courier, monospace;"><b>Application: </b>{{ project.application }}</p>
            <p class="article-content"> <b>Context project (Public): </b>{{ project.project_context }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if projects.page == page_num %}
              <a class="btn btn-info mb-4" href="{{url_for('main.project_home', page=page_num)}}">{{ page_num }}</a> 
          {%else%}
              <a class="btn btn-outline-info mb-4" href="{{url_for('main.project_home', page=page_num)}}">{{ page_num }}</a> 
          {%endif%}  
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}

{% block search %}
  <form method = 'POST' action="{{url_for('main.search')}}" class="d-flex">
    {{form.hidden_tag() }}
    <input class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search", name="searched">
    <button class="btn btn-primary btn-sm" type="submit">
      Search
    </button>
  </form>
{% endblock search %}

{% block info %}
  {{ instructions }}
{% endblock info %}