{% extends 'layout.html' %}
{% block content %}
    <h2> Who we are ? </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Libero sit maiores repudiandae! Perferendis dolorem iure minima
            eligendi aspernatur tenetur facere, cum suscipit maxime delectus
            aliquam voluptate repellat ex veritatis dolores.
        </p>
    <h2>Contacts</h2>

    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><a href = "mailto: abdeljalil.senhajirachik@aphp.fr">Abdeljalil Senhaji</a></li>
        <li class="list-group-item list-group-item-secondary"><a href = "mailto: julien.robert@aphp.fr">Julien Robert</a></li>
        <li class="list-group-item list-group-item-success"><a href = "mailto: maud.salmona@aphp.fr">Maud Salmona</a></li>
        <li class="list-group-item list-group-item-danger"><a href = "mailto: theo.ferreira@aphp.fr">Theo Ferreira</a></li>
        <li class="list-group-item list-group-item-warning"><a href = "mailto: dina_ouahbi@yahoo.com">Dina Ouahbi</a></li>
    </ul>

{% endblock content %}